@import "reset";
// auth section
section.auth {
    background-color: #fff;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    .row {
        height: 100%;
        & > * {
            height: 100%;
        }
        div.auth__content {
            box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
            .content__login {
                max-width: 45.9rem;
                padding: 12px;
                width: 100%;
                margin: 0 auto;
                .image__logo {
                    margin-bottom: 50px;
                    text-align: center;
                    img {
                        display: inline;
                        width: 50%;
                    }
                }
                header {
                    margin-bottom: 60px;
                    h3 {
                        color: $secondaryColor;
                        font-weight: 700;
                        font-size: 4rem;
                        margin-bottom: 10px;
                    }
                    .login__text {
                        margin: 0;
                        color: $subtitle;
                        font-weight: 400;
                        font-size: 2rem;
                    }
                }
                .login__inputs {
                    margin-bottom: 24px;
                    input {
                        border-width: 2px;
                        border-radius: 5px;
                        height: 5rem;
                    }
                    .inputs__checker {
                        right: 18px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        span {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 1.2rem;
                            color: $primaryColor;
                        }
                    }
                    &.relative {
                        input {
                            padding-right: 60px;
                        }
                    }
                }
                & > a {
                    text-transform: uppercase;
                    max-width: max-content;
                    color: $primaryColor;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                button.login__submit {
                    height: 4.8rem;
                    width: 100%;
                    padding: 6px 12px;
                    border-radius: 8px;
                    background-color: $primaryColor;
                    margin-top: 30px;
                    border: none;
                    transition: all 0.3s ease-in-out;
                    span {
                        width: 100%;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.4rem;
                    }
                    &:hover {
                        background-color: darken(
                            $color: $primaryColor,
                            $amount: 5
                        );
                    }
                }
            }
        }

        div.auth__image {
            aside {
                width: 100%;
                max-width: 60rem;
                margin: 0 auto;
                img {
                    inline-size: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }
            .image__logo {
                left: 20%;
                top: 106px;
            }
        }
    }
}

// default layout styles
section.pageContainer {
    background-color: $bodyColor;
    height: 100vh;
    overflow: hidden;
    nav.navigation {
        position: sticky;
        top: 0;
        width: 100%;
        grid-gap: 17px;
        height: 10rem;
        background-color: #fff;
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
        padding: 12px 30px;
        & > * {
            flex: auto;
        }
        .nav__left {
            max-width: 50%;
            .left__content {
                grid-gap: 10px;
                img {
                    max-width: 13.5rem;
                }
                .hamburger {
                    cursor: pointer;
                    svg {
                        margin: 0;
                        margin-top: -2px;
                    }
                }
            }
        }
        .left__search {
            height: 4rem;
            border-radius: 8px;
            width: 100%;
            max-width: 40rem;
            & > * {
                height: 100%;
                border-radius: inherit;
            }
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }
            button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                outline: none;
                border: none;
                width: 5.6rem;
                padding: 6px;
                background-color: $primaryColor;
                svg {
                    display: inline;
                }
            }
        }
        .nav__right {
            grid-gap: 33px;
            a.right__docs {
                text-decoration: underline !important;
                color: $secondaryColor;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 1.6rem;
            }
            button {
                outline: none;
                border: none;
                background: transparent;
                &,
                & * {
                    transition: all 0.3s ease-in-out;
                }
                &.right__notification {
                    margin-right: 12px;
                    &:is(:hover, :focus) {
                        svg {
                            path {
                                stroke: $subtitle;
                            }
                        }
                    }
                }
                &.right__dropDown {
                    grid-gap: 10px;
                    .dropDown__avatar {
                        width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        img {
                            border-radius: inherit;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top center;
                        }
                    }
                    p {
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                        max-width: 5.8rem;
                        font-weight: 500;
                        font-size: 1.6rem;
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
    menu.panel {
        float: left;
        height: calc(100% - 10rem);
        padding-block: 41px;
        background-color: #fff;
        width: 100%;
        max-width: 28.3rem;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0 !important;
        }
        & > * {
            padding-inline: 30px;
        }
        & * {
            transition: all 0.3s ease-in-out;
            color: $subtitle;
        }
        p.panel__tagLine {
            font-weight: 500;
            font-size: 1.2rem;
            text-transform: uppercase;
            margin-bottom: 10px;
            &.version {
                margin-bottom: 0;
                color: $secondaryColor;
                font-size: 1.2rem;
            }
        }
        ul {
            padding: 0;
            margin-bottom: 40px;
            li {
                list-style-type: none;
                margin-bottom: 10px;
                a {
                    grid-gap: 10px;
                    height: 4rem;
                    padding-inline: 30px;
                    border-left: 4px solid transparent;
                    img {
                        width: 2rem;
                        object-fit: cover;
                    }
                    span {
                        font-weight: 400;
                        font-size: 1.6rem;
                        text-transform: capitalize;
                    }
                    &:is(:hover, :focus) {
                        background: $primaryColorLight;
                        border-color: $primaryColor;
                        span {
                            color: $secondaryColor;
                        }
                    }
                }
            }
            &.settings {
                margin-bottom: 71px;
            }
        }
        .divider {
            border-color: $secondaryColor;
            padding: 0;
        }
    }
}
