@import "reset";
// auth section
section.auth {
    background-color: #fff;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    .row {
        height: 100%;
        & > * {
            height: 100%;
        }
        div.auth__content {
            box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
            .content__login {
                max-width: 45.9rem;
                padding: 12px;
                width: 100%;
                margin: 0 auto;
                .image__logo {
                    margin-bottom: 50px;
                    text-align: center;
                    img {
                        display: inline;
                        width: 50%;
                    }
                }
                header {
                    margin-bottom: 60px;
                    h3 {
                        color: $secondaryColor;
                        font-weight: 700;
                        font-size: 4rem;
                        margin-bottom: 10px;
                    }
                    .login__text {
                        margin: 0;
                        color: $subtitle;
                        font-weight: 400;
                        font-size: 2rem;
                    }
                }
                .login__inputs {
                    margin-bottom: 24px;
                    input {
                        border-width: 2px;
                        border-radius: 5px;
                        height: 5rem;
                    }
                    .inputs__checker {
                        right: 18px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        span {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 1.2rem;
                            color: $primaryColor;
                        }
                    }
                    &.relative {
                        input {
                            padding-right: 60px;
                        }
                    }
                }
                & > a {
                    text-transform: uppercase;
                    max-width: max-content;
                    color: $primaryColor;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                button.login__submit {
                    height: 4.8rem;
                    width: 100%;
                    padding: 6px 12px;
                    border-radius: 8px;
                    background-color: $primaryColor;
                    margin-top: 30px;
                    border: none;
                    transition: all 0.3s ease-in-out;
                    span {
                        width: 100%;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.4rem;
                    }
                    &:hover {
                        background-color: darken(
                            $color: $primaryColor,
                            $amount: 5
                        );
                    }
                }
            }
        }

        div.auth__image {
            aside {
                width: 100%;
                max-width: 60rem;
                margin: 0 auto;
                img {
                    inline-size: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }
            .image__logo {
                left: 20%;
                top: 106px;
            }
        }
    }
}

// default layout, panel and bar styles
// bar
.css-10jggh8-MuiPaper-root-MuiAppBar-root {
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04) !important;
    width: 100% !important;
    height: 10rem !important;
}
nav.navigation {
    // position: sticky;
    // top: 0;
    width: 100%;
    grid-gap: 17px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    padding: 12px 30px;
    & > * {
        flex: auto;
    }
    .nav__left {
        max-width: 50%;
        .left__content {
            grid-gap: 10px;
            img {
                max-width: 13.5rem;
            }
            .hamburger {
                cursor: pointer;
                svg {
                    margin: 0;
                    margin-top: -2px;
                }
            }
        }
    }
    .left__search {
        height: 4rem;
        border-radius: 8px;
        width: 100%;
        max-width: 40rem;
        & > * {
            height: 100%;
            border-radius: inherit;
        }
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            outline: none;
            border: none;
            width: 5.6rem;
            padding: 6px;
            background-color: $primaryColor;
            svg {
                display: inline;
            }
        }
    }
    .nav__right {
        grid-gap: 33px;
        a.right__docs {
            text-decoration: underline !important;
            color: $secondaryColor;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 1.6rem;
        }
        button {
            outline: none;
            border: none;
            background: transparent;
            &,
            & * {
                transition: all 0.3s ease-in-out;
            }
            &.right__notification {
                margin-right: 12px;
                &:is(:hover, :focus) {
                    svg {
                        path {
                            stroke: $subtitle;
                        }
                    }
                }
            }
            &.right__dropDown {
                grid-gap: 10px;
                .dropDown__avatar {
                    width: 4.8rem;
                    height: 4.8rem;
                    border-radius: 50%;
                    img {
                        border-radius: inherit;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top center;
                    }
                }
                p {
                    margin: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                    max-width: 5.8rem;
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: $secondaryColor;
                }
            }
        }
    }
}

// panel
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    .css-1v8x7dw::-webkit-scrollbar {
        width: 0 !important;
    }
}

menu.panel {
    // height: 100vh;
    // position: fixed;
    // top: 10rem;
    // max-height: calc(100% - 10rem);
    padding-block: 8rem 41px;
    background-color: #fff;
    width: 100%;
    // max-width: 28.3rem;
    // box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, visibility, width;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0 !important;
    }
    & > * {
        padding-inline: 30px;
    }
    & * {
        transition: all 0.3s ease-in-out;
        color: $subtitle;
    }
    p.panel__tagLine {
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        &.version {
            margin-bottom: 0;
            color: $secondaryColor;
            font-size: 1.2rem;
        }
    }
    ul {
        padding: 0;
        margin-bottom: 40px;
        li {
            list-style-type: none;
            margin-bottom: 10px;
            height: 100%;
            .panel__link {
                grid-gap: 10px;
                height: 4rem;
                padding-inline: 30px;
                border-left: 4px solid transparent;
                cursor: pointer;
                img {
                    width: 2rem;
                    object-fit: cover;
                }
                span {
                    font-weight: 400;
                    font-size: 1.6rem;
                    text-transform: capitalize;
                }
                &:is(:hover, :focus),
                &.navActive {
                    background: $primaryColorLight;
                    border-color: $primaryColor;
                    span {
                        color: $secondaryColor;
                    }
                }
                &.noHover {
                    border-left-color: transparent !important;
                    background-color: transparent !important;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.dropDown {
                ul {
                    top: 4.4rem;
                    left: 50%;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    min-height: 4rem;
                    max-width: 90%;
                    transform: translateX(-50%);
                    border-radius: 5px;
                    background-color: #fff;
                    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                        0 8px 10px 1px rgba(0, 0, 0, 0.14),
                        0 3px 14px 2px rgba(0, 0, 0, 0.12);
                    overflow: hidden;
                    li {
                        // padding: 2px 12px;
                        .panel__link {
                            border-left: none !important;
                            padding-inline: 12px;
                        }
                    }
                }
            }
        }
        &.settings {
            margin-bottom: 71px;
        }
    }
    .divider {
        border-color: $secondaryColor;
        padding: 0;
    }
}

// default main wrapper style
main.page__content {
    padding: 60px;
    // padding-left: calc(28.3rem + 60px);
    max-width: 2300px;
}

// page content
.content {
    height: 100%;
    width: 100%;
    h3.title {
        font-weight: 500;
        font-size: 2.4rem;
        color: $secondaryColor;
        margin-bottom: 40px;
    }
}

// card
.statsCard {
    margin: -12px !important;
    .card__content {
        padding: 12px !important;
        min-height: 16rem;
        & > div {
            background-color: #fff;
            // min-width: 24rem;
            width: 100%;
            height: 100%;
            padding: 20px 30px;
            border: 1px solid rgba(33, 63, 125, 0.06);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
            img {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                object-fit: cover;
            }
            p {
                margin-block: 14px 12px;
                color: $subtitle;
                font-weight: 500;
                font-size: 1.4rem;
                text-transform: uppercase;
            }

            h3 {
                font-weight: 600;
                font-size: 2.4rem;
                color: $secondaryColor;
                margin-bottom: 0;
            }
        }
    }
}

// filter table
.table__card {
    padding: 30px;
    background: #fff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-top: 40px;
    width: 100%;
    .filterTable {
        width: 100%;
        max-width: 100%;
        color: $subtitle;
        & * {
            transition: all 0.3s ease-in-out;
        }
        thead {
            tr {
                th {
                    padding-bottom: 37px;
                    & > div {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        align-items: center;
                        grid-gap: 10px;
                        padding-right: 10px;
                        span {
                            font-size: 1.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        button.filter {
                            outline: none;
                            border: none;
                            width: 1.6rem;
                            height: 1.6rem;
                            background-color: transparent;
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid rgba(33, 63, 125, 0.1);
                height: 5.6rem;
                td {
                    font-size: 1.4rem;
                    font-weight: 400;
                    a {
                        color: $primaryColor;
                        font-weight: 500;
                        text-transform: initial !important;
                    }
                    .table__action {
                        cursor: pointer;
                        width: max-content;
                    }
                    &::first-letter {
                        text-transform: uppercase;
                    }
                    &.chip {
                        span {
                            height: 3rem;
                            border-radius: 30px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: capitalize;
                            background-color: $subtitleLight;
                            padding: 7px 18px;
                        }
                        &.pending span {
                            background-color: $pendingLight;
                            color: $pending;
                        }
                        &.blacklisted span {
                            background-color: $blacklistedLight;
                            color: $blacklisted;
                        }
                        &.active span {
                            background-color: $activeLight;
                            color: $active;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

// table pagination

.pagination {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    margin-top: 23px;
    .left {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        span {
            font-weight: 400;
            font-size: 1.4rem;
            color: $subtitle;
        }
        select {
            background-color: $subtitleLightTwo;
            border-radius: 4px;
            border: none !important;
            outline: none !important;
            padding: 0 12px;
            min-width: 8rem;
            height: 3rem;
            font-weight: 500;
            font-size: 1.4rem;
            color: $secondaryColor;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            appearance: none;
            background-image: url("../assets/svg/arrow_down.svg") !important;
            background-position: bottom 8px right 10px !important;
            background-repeat: no-repeat !important;
            cursor: pointer;
        }
    }
    .right {
        display: flex;
        align-items: center;
        grid-gap: 20px;
        & * {
            transition: all 0.3s ease-in-out;
        }
        button {
            border: none !important;
            outline: none !important;
            background-color: transparent;
            &.ctrl {
                svg {
                    path,
                    rect {
                        fill: $secondaryColor;
                    }
                }
            }
            &.pagiBtn {
                font-weight: 400;
                font-size: 1.6rem;
                color: $subtitle;
                &.active {
                    font-weight: 600;
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            grid-gap: 20px;
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                button {
                    font-weight: 400;
                    font-size: 1.6rem;
                    color: $subtitle;
                    &.Mui-selected {
                        font-weight: 600;
                    }
                }
                // &:first-child,
                // &:last-child {
                //     display: none;
                // }
            }
        }
    }
}
