@media (max-width: 959px) {
    main.page__content {
        padding-inline: 0;
    }
}
@media (max-width: 950px) {
    .content {
        max-width: calc(100vw - 42px);
        // display: none;
    }
    .statsCard {
        margin: -6px !important;
        .card__content {
            padding: 6px !important;
            & > div {
                padding: 16px;
                img {
                    width: 3.5rem;
                    height: 3.5rem;
                }
                p {
                    font-size: 1.2rem;
                }
                h3 {
                    font-size: 1.8rem;
                }
            }
        }
    }

    // .table__card {
    //     .filterTable {
    //         min-width: max-content;
    //     }
    // }
    .pagination {
        flex-direction: column;
        justify-content: center;
        grid-gap: 50px;
        .right {
            button {
                &.ctrl {
                    svg {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
            ul {
                grid-gap: 10px;

                li {
                    button {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    section {
        &.auth {
            .row {
                div.auth__content {
                    .content__login {
                        text-align: center;
                    }
                }
            }
        }
        &.pageContainer {
            nav.navigation {
                padding: 12px;
                height: 7rem;
                .nav__left {
                    .left__content {
                        img {
                            max-width: 6.5rem;
                        }
                    }
                }
                .nav__right {
                    button {
                        &.right__dropDown {
                            .dropDown__avatar {
                                width: 3.5rem;
                                height: 3.5rem;
                            }
                            &:is(:hover, :focus) {
                                .dropDown__avatar {
                                    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    nav.navigation {
        padding: 12px;
    }
}
